@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import font css */
@import url("../../public/fonts/font.css");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.rotating-background {
  /* background-image: url('your-image-url.jpg'); */
  /* Replace with your image URL */
  animation: rotate 30s linear infinite;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Make scrollbars invisible but functional */
::-webkit-scrollbar {
  width: 10px;
  /* For vertical scrollbars */
  height: 10px;
  /* For horizontal scrollbars */
}

* {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: transparent transparent;
  /* For Firefox: set both thumb and track to transparent */
}